/*==Style cơ bản cho website==*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #333;
	line-height: 1.254;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #3b8bba;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


/*==Chia cột website==*/
#container {
	padding-left: 150px;
	position: relative;
	left: 0;
	width: 100%;
}
#menu {
	position: fixed;
	height: 100%;
	background-color: #191818;
	width: 150px;
	left: 0;
}
/*==Menu==*/
#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;

}
#menu ul li {
	line-height: 2.9em;
	height: 2.9em;
	position: relative;
}
#menu ul li a {
	display: block;
	color: #fff;
	padding: 0 1em;
	border-bottom: 1px solid #333
} 
#menu ul li:hover {
	background-color: #454545
}
#menu .sub-menu {
	display: none;
	position: absolute;
	top: 0;
	left: 150px;
	background-color: #191818
}
#menu ul li:hover .sub-menu {
	display: block;
}


/*==Content==*/
#content {
	padding: 1em 8em;
}
#header, .call-to-action {
	text-align: center;
}
/*==header==*/
#header {}
#header #logo {}
#header #slogan {
	color: #8997a0;
	font-size: 0.8;
}
/*==.call-to-action==*/
.call-to-action {
	padding: 1.5em 20%;
	background-color: #efefef;
	border: 1px solid #e8e8e8;
}
/*==.row==*/
.row {
	overflow: hidden;
	margin: 1.5em auto;
}
.row .col {
	float: left;
	width: 32.5%;
	margin-right: 1em
}
.row .col:last-child {
	float: right;
	margin-right: 0;
}
.row .col img {
	float: left;
}
/*==Footer==*/
#footer {
	font-size: 85%;
	border-top: 1px solid #e6e6e6;
	color: #838383;
	padding: 1em 3em;
	text-align: center;
}